*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "微软雅黑";
    font-size: 62.5%;
}

a,a:visited{
    text-decoration: none;
}

input[type='text']{
    border: none;
    outline: none;
}
